@import url(../../../index.css);
.close_icon{
    position: absolute;
    padding: 1rem;
    right: 0;
    top: 0;
    font-size: 1.5rem;
    width: max-content;
    cursor: pointer;
}
.menu_container{
    padding: 0 2rem;
    h5{
        margin: 0;
        text-align: center;
        font-weight: lighter;
        font-size: 2rem;
    }
}
.opciones{
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    p{
        text-align: left;
        border-radius: .3rem;
        border: solid 1px white;
        padding: .5rem;
        font-size: 1.2rem;
        transition: all .3s;
    }
    p:hover{
        color: var(--color-principal);
        border: solid 1px var(--color-principal);
        cursor: pointer;
    }
}