.modal_notas{
    position: fixed;
    z-index: 1001;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    width: 90%;
    border-radius: .5rem;
    max-width: 600px;
}
.div_notas{
    display: flex;
    flex-direction: column;
}
.div_nota{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: .3rem;
    margin-bottom: 1rem;
}
.modal_notas h5{
    font-size: 1.6rem;
    text-align: center;
    padding: 0;
    margin: 0;
    font-weight: normal;
}
.notas_guardadas{
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: 1rem;
}
.notas_guardadas p{
    border: solid 1px gray;
    padding: .3rem;
    border-radius: .3rem;
}
.div_lotes_notas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
    place-items: center;
    margin: 1rem auto 1.5rem auto;
}